<!-- <div class="text"
  style="margin: 0; padding: 3rem; text-align: center; padding: 2rem; transition: all 0.3s; width: 80%; height: auto; margin: auto;">
  <h1 style="font-weight: 800; color: black;">ABOUT ANIME</h1>
  <p
    style="text-transform: uppercase; text-align: justify; line-height: 1.8;color:black; font-weight: 500; font-size: 0.9em; margin-top: 1em;">
    The word anime — pronounced "ah-knee-may" — is an abbreviation of the word animation. In Japan, the word is used
    to refer to all animation. However, outside of Japan, it has become the catch-all term for animation from Japan.


    For decades, anime was produced by and for Japan — a local product, with a distinct look-and-feel to not just
    the artwork but the storytelling, the themes, and the concepts. Over the last forty years, it has become an
    international phenomenon, attracting millions of fans and being translated into many languages. A whole
    generation of viewers in the West has grown up with it and are now passing it on to their own children.


    Because all things anime tend to be lumped together, it's tempting to think of anime as a genre. It isn't, at
    least no more than animation itself is a genre, but rather a description of how the material is produced. Anime
    shows, like books or movies, fall into any number of existing genres: comedy, drama, sci-fi, action-adventure,
    horror and so on.

    What Makes Anime So Special?
    Most anime fans can sum this up in two words: "It's different." Anime is as unlike most American cartoons like
    "Batman" and "Spider-Man" are different from the comics that run in daily papers. These differences show up in
    many ways including the artwork storytelling, breadth of material and even cultural nuances exhibited by the
    characters.

    Anime art styles range from the flamboyant and outlandish in shows like "Samurai Champloo" and " FLCL" to the
    simple and direct in shows like "Azumanga Daioh!." That said, even shows with more "basic" artwork can still be
    visually striking. Anime has this way of making everything look fresh and new.


    It doesn't shy away from epic storylines, either, which often run for dozens (sometimes hundreds) of episodes.
    The best anime, though, no matter what their length, all demand great emotional involvement from the viewer.

    The sheer range of anime shows out there means a fan of most any other kind of TV or movie can find an anime
    series that mirrors its style. For fans of hard science fiction, the show "Planetes" would be perfect for you;
    romantic comedy fans will love "Fruits Basket" while crimefighting lovers will enjoy "Ghost in the Shell." There
    are even adaptations of classical literature like "The Count of Monte Cristo."

    Not only that, fans of anime also get an intimate look into Japan's history, language and worldview, woven into
    a great deal of anime on many levels. Some shows are takeoffs on Japanese history like "Sengoku Basara" or raid
    Japanese mythology for story ideas like "Hakkenden" or "Hell Girl." Even shows that are outwardly non-Japanese
    in their presentation like "Claymore" and "Monster" have tinges of a Japanese sensibility to them.

    What's most striking is how anime's impact is coming full circle. Some recent American cartoon productions, like
    "Avatar: The Last Airbender," are openly inspired by anime itself, and live-action English-language versions of
    anime titles are starting to come into production more frequently.

    Is Anime Okay for Young Kids?
    Because anime's so broad-reaching in its subject matter, it's possible to find anime aimed at just about every
    age group. Some titles are specifically for younger viewers or are suitable for all ages like the animated
    series "Pokémon" or Studio Ghibli film "My Neighbor Totoro" while others are aimed at teenage audiences and
    older like "InuYasha." There are even some animes aimed at older teens like "Death Note" and some for mature
    audiences only like "Monster" and "Queens Blade."

    Japanese cultural attitudes about sexuality and violence require some titles to be placed a category higher than
    they might normally be. Nudity, for instance, is handled much more casually in Japan; sometimes a show that
    isn't meant specifically for adults will have material which may seem racy to Western viewers.

    Anime distributors are generally quite conscious of these issues and will include either an actual MPAA rating
    (G, PG, PG-13, R, NC-17) or a TV Parental Guidelines rating as an indicator of what the intended audience is for
    the show. Check the show's packaging or program listing to see which rating applies.

    Confused about where to start? We recommend checking out the sci-fi, cyberpunk "Cowboy Bebop" or a
    swords-and-sorcery tale called "Berserk." If you already know a friend who's an anime fan, clue them in on what
    you like to watch — they should be able to guide you towards what's best and what's new in that category.
  </p>

</div> -->



<div id="wrapper">
  <div id="container">

    <section class="open-book">
      <header>
        <h1>IDK A</h1>
        <h6>Débora L. Maciel</h6>
      </header>
      <article>
        <h2 class="chapter-title">What is Anime btw?</h2>
        <p>
          The word anime — pronounced "ah-knee-may" — is an abbreviation of the word animation. In Japan, the word is
          used
          to refer to all animation. However, outside of Japan, it has become the catch-all term for animation from
          Japan.
        </p>
        <p>
          For decades, anime was produced by and for Japan — a local product, with a distinct look-and-feel to not just
          the artwork but the storytelling, the themes, and the concepts. Over the last forty years, it has become an
          international phenomenon, attracting millions of fans and being translated into many languages. A whole
          generation of viewers in the West has grown up with it and are now passing it on to their own children.
        </p>
        <p>
          Because all things anime tend to be lumped together, it's tempting to think of anime as a genre. It isn't, at
          least no more than animation itself is a genre, but rather a description of how the material is produced.
          Anime
          shows, like books or movies, fall into any number of existing genres: comedy, drama, sci-fi, action-adventure,
          horror and so on.
        </p>
        <dl>
          <dt><strong>skeu&bull;o&bull;morph</strong></dt>

          <dt><strong>skeu&bull;o&bull;morph</strong></dt>
          <dd>
            <em>noun</em><br>
            an object or feature that imitates the design of a similar artifact made from another material.
          </dd>
        </dl>
        <p>
          Outside of skeuomorphism, the idea actually was not very silly. Erin always had an appreciation towards print
          work. The thought of mimicking similar designs onto a web interface has always fascinated her. So, why not
          start with the classic print design of a novel?
        </p>
        <p>
          She began to jot down a list of elements that are typically in a novel:
        </p>
        <ul>
          <li>Serif typefaces</li>
          <li>
            Header area with the title of the book on the left, and the author of said book on the right. <em>Erin is
              aware that content within the header of the same page as a chapter title does not appear, but she made an
              exception</em>.
          </li>
          <li>An adorned chapter title</li>
          <li>A dropcap for the first letter of the first paragraph of the chapter</li>
          <li>Indented paragraphs</li>
          <li>Page numbers</li>
        </ul>
        <p>
          She was then picturing herself making marks on a novel like she used to in school. In her true fashion, she
          got carried away with "What ifs."
        </p>
        <ul>
          <li>
            "What if highlighting the text actually looked <mark>like a highlighter</mark>?"
            <ul>
              <li>"What if I wanted it to be <mark class="pink">pink</mark>?"</li>
              <li>"<mark class="blue">Blue</mark>?"</li>
              <li>"<mark class="green">Green</mark>?"</li>
              <li>"<mark class="orange">Orange</mark>?"</li>
            </ul>
          </li>
          <li>"What if I found <s>a typo</s><sup>an error in the content</sup> and wanted to make a correction?"</li>
          <li>"What if I was viewing this on mobile&mdash;"</li>
        </ul>
        <p>
          The true obstacle showed its form. Responsiveness. How on Earth will she make this work?
        </p>

        <p>
          Erin smirked, "Well at least I think it's worth a try."
        </p>
      </article>
      <footer>
        <ol id="page-numbers">
          <li>1</li>
          <li>2</li>
        </ol>
      </footer>
    </section>

  </div>
</div>