<div class="body-main">
  <a target="_blank">
    <h1 class="logo">IDK A</h1>
    <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/2/22/Icon_1_red.svg" alt=""> -->
  </a>

  <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon" />
  <label for="menu-icon"></label>
  <nav class="nav">
    <ul class="pt-5">
      <li><a href="#">Work</a></li>
      <li><a href="#">Studio</a></li>
      <li><a href="https://resume.io/r/UUzxXrzK2">Resume</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>

  <div>
    <div style="width: 100%; height:100px; color: white; margin-top: 18vh;">
      <h1 style="text-align:center;">
        WELCOME TO IDK ANIMES GUIDE
      </h1>
      <h3 style="text-align:center; margin-top: 2vh; font-weight: 400;">
        HERE YOU CAN KNOW A LITTLE BIT MORE ABOUT YOUR FAVORITE ANIME, OR NOT :v
      </h3>
    </div>

    <div class="site__wrapper">
      <div class="grid">
        <div class="card">
          <div class="card__image">
            <img src="./../../assets/img/3.jpg" alt="">
            <div class="card__overlay card__overlay--indigo">
              <div class="card__overlay-content">
                <ul class="card__meta">
                  <li><a href="#0"><i class="fa fa-tag"></i> Html5/Css3</a></li>
                  <li><a href="#0"><i class="fa fa-clock-o"></i> 2 min ago</a></li>
                </ul>

                <a href="#0" class="card__title">Shingeki no Kyojin, The Final Season realeasing</a>

                <ul class="card__meta card__meta--last">
                  <li><a href="#0"><i class="fa fa-user"></i> Mithicher</a></li>
                  <li><a href="#0"><i class="fa fa-facebook-square"></i> Share</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="grid">
        <div class="card">
          <div class="card__image">
            <img src="./../../assets/img/2.jpg" alt="">

            <div class="card__overlay card__overlay--blue">
              <div class="card__overlay-content">
                <ul class="card__meta">
                  <li><a href="#0"><i class="fa fa-tag"></i> UI/UX</a></li>
                  <li><a href="#0"><i class="fa fa-clock-o"></i> 2 days ago</a></li>
                </ul>
                <a href="#0" class="card__title">How to create a card based article with HTML5 &amp; CSS3</a>
                <ul class="card__meta card__meta--last">
                  <li><a href="#0"><i class="fa fa-user"></i> Mithicher</a></li>
                  <li><a href="#0"><i class="fa fa-facebook-square"></i> Share</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid">
        <div class="card">
          <div class="card__image">
            <img src="./../../assets/img/6.jpg" alt="">

            <div class="card__overlay card__overlay--indigo">
              <div class="card__overlay-content">
                <ul class="card__meta">
                  <li><a href="#0"><i class="fa fa-tag"></i> UI/UX</a></li>
                  <li><a href="#0"><i class="fa fa-clock-o"></i> 2 days ago</a></li>
                </ul>

                <a href="#0" class="card__title">How to create a card based article with HTML5 &amp; CSS3</a>

                <ul class="card__meta card__meta--last">
                  <li><a href="#0"><i class="fa fa-user"></i> Mithicher</a></li>
                  <li><a href="#0"><i class="fa fa-facebook-square"></i> Share</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid">
        <div class="card">
          <div class="card__image">
            <img src="./../../assets/img/5.jpg" alt="">

            <div class="card__overlay card__overlay--indigo">
              <div class="card__overlay-content">
                <ul class="card__meta">
                  <li><a href="#0"><i class="fa fa-tag"></i> Tutorials</a></li>
                  <li><a href="#0"><i class="fa fa-clock-o"></i> 2 days ago</a></li>
                </ul>

                <a href="#0" class="card__title">How to create a card based article with HTML5 &amp; CSS3</a>

                <ul class="card__meta card__meta--last">
                  <li><a href="#0"><i class="fa fa-user"></i> Mithicher</a></li>
                  <li><a href="#0"><i class="fa fa-facebook-square"></i> Share</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid">
        <div class="card">
          <div class="card__image">
            <img src="./../../assets/img/4.jpg" alt="">

            <div class="card__overlay card__overlay--blue">
              <div class="card__overlay-content">
                <ul class="card__meta">
                  <li><a href="#0"><i class="fa fa-tag"></i> Personal thing</a></li>
                  <li><a href="#0"><i class="fa fa-clock-o"></i> 2 days ago</a></li>
                </ul>

                <a href="#0" class="card__title">Shiki, my favorite anime of all the time</a>

                <ul class="card__meta card__meta--last">
                  <li><a href="#0"><i class="fa fa-user"></i> Mithicher</a></li>
                  <li><a href="#0"><i class="fa fa-facebook-square"></i> Check </a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- @end site__wrapper -->

    <div style="width: 100%; text-align: center;height: 300px; padding-right: 9%; margin-top: 1%;">
      <button mat-button style="display: none;">Open dialog</button>
      <div style="height: 80px;">
        <div style="width: 100%; margin: auto; margin-bottom: 1%;">
          <h2 style="color: white; text-transform: uppercase;">after all,
            what is anime and what is its origin ?</h2>
        </div>
      </div>
      <button class="cybr-btn" (click)="openDialog()">
        What is anime?<span aria-hidden></span>
        <span aria-hidden class="cybr-btn__glitch">Buttons_</span>
        <span aria-hidden class="cybr-btn__tag">idka</span>
      </button>
    </div>

  </div>
</div>
<app-footer></app-footer>